node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
USAGE.md
QUICK_START_GUIDE.md
CONTRIBUTING.md
.eslintrc.js
jest.config.js
.github
coverage
tests
scripts
example
docker-compose.yml
tmp
dist
Dockerfile
.dockerignore
helm
argocd
*.log
